{% extends "base/base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %}
   Acerca de
{% endblock %}

{% block content %}
   <div class="container-content">
      <div class="container-about">
         <div class="about-items">
            <div class="about-item">
               <div class="about-item-description">
                  Veracia es un programa de inteligencia artificial que sirve para auxiliar a las personas en la detección de noticias falsas en el ámbito de la salud. Esta aplicación utiliza una rama de la inteligencia artificial denominada Procesamiento de Lenuaje Natural (PLN) la cual procesa información de fuentes confiables de información médica y determina si la noticia proporcionada por el usuario es verdadera, falsa o sin información disponible.
               </div>

               <div class="container" id="manual">
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">1</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Da click en el campo "Buscar noticia"</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/1.gif" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">2</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Ingresa la noticia</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/2.gif" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">2.1</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Si deseas ingresar un artículo da click en la flecha de lado izquierdo</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/2.1.gif" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">3</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Da click en el ícono de la lupa</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/3.gif" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">4</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">A continuación se mostrarán los artículos que confirman o desmienten la noticia</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/4.png" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">5</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Puedes navegar a través de los artículos obtenidos mediante el índice</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/5.gif" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">6</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Para descargar el PDF de la información obtenida da click en el botón amarillo</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/6.gif" alt="">
                          </div>
                      </div>
                  </div>
          
                  
                  <div class="row d-flex justify-content-center paso align-items-center">
                      <div class="row">
                          <div class="col-12 texto">
                              <div class="row">
                                  <div class="contador col-1 d-flex justify-content-center align-items-center">7</div>
          
                                  <div class="col-11 d-flex justify-content-left align-items-center" style="color: rgb(62,72,87);">Navega a la sección inferior para consultar la tabla de patrones detectados en cada artículo</div>
                              </div>
                          </div>
          
                          <div class="col-12 d-flex justify-content-center align-items-center imagen">
                              <img class="img-fluid" src="../../static/img/pasos/7.gif" alt="">
                          </div>
                      </div>
                  </div>
              </div>
            </div>

         </div>
      </div>
   </div>
{% endblock %}

{% block js %}
{% endblock %}
