@mixin box_sizing($box-model) {
  box-sizing: $box-model;
}

@mixin default-card($margin: 1) {
  width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  @if($margin == 1) {
    margin-right: 20px;
  }
}

@mixin default-container($width: 100%, $height: auto) {
  width: $width;
  @if($height != none) {
     height: $height;
  } @else {
     height: auto;
  }
}

@mixin center-block() {
  display: block;
  margin: 0 auto;
}

@mixin flex($direction: row, $align: center, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  @if $justify != none {
     justify-content: $justify;
  }
}

@mixin clear-margin-padding() {
  margin: 0;
  padding: 0;
}

@mixin background-image($imagen) {
  background-image: url($imagen);
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin gradient($color1, $color2) {
  background: linear-gradient(to right, $color1 0%, $color2 100%);
}

/* Media Queries */
@mixin telefono {
  @media only screen and (min-width: #{$telefono}) {
      @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
      @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
      @content;
  }
}

/* Menus de navegacion */
/* Otra forma!!! */
/* @mixin menus() {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @include desktop() {
      flex: 0 1 calc(30% - 1rem);
  }

  a {
      color: $negro;
      text-decoration: none;
      margin-bottom: 0.5rem;
  }
} */