// Variables
// Fonts
$main_font: "Raleway", sans-serif;

// Colors
$blue-1: rgb(91, 157, 217);
$blue-2: rgb(44, 85, 210);
$gray: rgb(109, 109, 109);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$yellow: rgb(221, 165, 18);
$orange: rgb(229, 156, 30);
